@import "../../../Style/mixin.scss";

.expert-partners {
    .slick-slide {
        padding: 10px;
    }

    .item {
        position: relative;
        padding: 0 20px 20px 0;
        background-color: var(--white);
        min-height: 252px;
        border-radius: 13px;
    }

    .details {
        display: flex;

        .image {
            img {
                height: 106px;
            }
        }

        .desc {
            padding-top: 20px;
            padding-left: 20px;
        }
    }

    .slick-next,
    .slick-prev {
        background: var(--white);
        color: var(--black);
        border-radius: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 27px;
        box-shadow: 0 0 10px #7c7c7c;
        bottom: 40%;
        &::before{
            font-size: 39px;
            line-height: 47px;
            text-align: center;  
            @include gradientText;          
        }
    }
    .slick-dots{
        text-align: center;
    }

}