.subscrption-form {
    width: 100%;
    position: relative;
    form{
        display: flex;
    }
    .form-fields {
      &:nth-child(1) {
        width: 70%;
      }
    }
    input[type="text"]{
      padding: 13px 28px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      background-color: #F7F7F7;
      right: -17px;    
    }
    .ant-btn-primary{
      border-radius: 30px;
      min-height: 56px;
      left: -20px;
      padding: 5px 30px;
      background: var(--secondary);
      border-color: var(--secondary);
    }
  }