@import "../../Style/mixin.scss";

.top-banner {
    position: relative;

   
    &::after {
        @include beforeContentLeft($background: #000, $opacity: 0.5 );
    }

    .caption {
        width: 100%;
        position: relative;
        z-index: 1;

        h1 {
            font-size: 55px;
            letter-spacing: 4px;
            font-weight: 500;
            @media(max-width: 900px){
                font-size: 40px;
              }
              @media(max-width: 600px){
                font-size: 40px;
              }
              @media(max-width: 500px){
                font-size: 30px;
              }
        }

        p {
            font-size: 30px;
        }
    }

    .center-contents {
        min-height: 680px;        
        height: 100vh;
        position: relative;
        z-index: 1;
    }

    &.aboutus {
        @include bgSetup($bg-image: url('../assets/images/about/about-us.jpg'), $bg-repeat: no-repeat, $bg-position: bottom right, $bg-size: cover)
    }
    &.contactus{
        @include bgSetup($bg-image: url('../assets/images/contact/contact-us.jpg'), $bg-repeat: no-repeat, $bg-position: bottom right, $bg-size: cover)
    }
    &.solutions{
        @include bgSetup($bg-image: url('../assets/images/our-solutions/oursolutions.jpg'), $bg-repeat: no-repeat, $bg-position: bottom right, $bg-size: cover)
    }
    &.career{
        @include bgSetup($bg-image: url('../assets/images/career/careers01.jpg'), $bg-repeat: no-repeat, $bg-position: top left, $bg-size: cover)
    }

}