@import "../../Style/mixin.scss";
.value-proposition{
    img{
        width: 60%;
        @media(max-width: 500px){
            width: 100%;
        }

    }
}
// development-product
.development-product{
    img{
        width: 89%;
        margin:0 auto;
        display: block;
        @media(max-width: 600px){
            width:100%;
        }

    }
}
// cutting-edge-solution
.cutting-edge-solution {
    .card-holder{

    }
    .card-box{
        width: 20%;
        display: inline-block;        
        padding: 10px;   
        @media(max-width: 900px){
            width: 33.3333%;
        }
        @media(max-width: 670px){
            width:50%;
            padding: 5px;
        }
        .details{         
            position: relative;
            &:hover{
                img{
                    @include animationGrow;
                    @include animationGrowHover;
                }
            }
        }
        .title{
            padding: 10px 20px;
            background-color: rgba(41, 37, 97, 0.88);
            position: absolute;
            bottom:0;
            left:0;
            width:100%;
            border-bottom-right-radius: 13px;
            border-bottom-left-radius: 13px;
            h6{
                color: var(--white);
                font-weight: normal;
                font-size: 16px;
                line-height: 151%;
            }
        }
        img{
            width: 100%;
            border-radius: 13px;
        }
    }
    
}

// innovation-wheel
.innovation-wheel{
    
    .wheel{
        position: relative;
        img{
            position: absolute;
            width: 99%;
            top: -202px;
            right:0;
            @media(max-width:575px){
                top:0;
                position: relative;
            }
            @media screen and (min-device-width: 2500px) and (max-device-width: 3000px) { 
                width: 36%;
            }
            @media screen and (min-device-width: 2000px) and (max-device-width: 2500px) { 
                width: 47%;
            }
            @media screen and (min-device-width: 1800px) and (max-device-width: 2000px) { 
                width: 59%;
            }
            @media screen and (min-device-width: 1600px) and (max-device-width: 1800px) { 
                width: 75%;
            }
            @media screen and (min-device-width: 1400px) and (max-device-width: 1600px) { 
                width: 86%;
            }
        }
    }
}
// value-proposition
.value-proposition{
    position: relative;
    .shape-position{
        @media(max-width:900px){
            display: none;
        }
    }
}
// .gsi-shared-value
.gsi-shared-value{
    &.align-top{
        margin-top: -48px;
    }
    .card{
        .image{
            @include borderRadiusLeft;
        }
        &:hover{
            img{
                @include animationGrow;   
                @include animationGrowHover;
            }
        }        
        
    }
    
    .baker{
        img{
            height: 179px;
            
            @media(max-width:575px){
                height: 77px;
            }
        }
    }
  }