@import "../../Style/mixin.scss";

.value-proposition {
    img {
        width: 60%;

        @media(max-width: 500px) {
            width: 41%;
        }

    }
}

// development-product
.development-product {
    img {
        width: 89%;
        margin: 0 auto;
        display: block;

        @media(max-width: 600px) {
            width: 100%;
        }

    }
}

// cutting-edge-solution
.cutting-edge-solution { 

    .card-box {
        width: 20%;
        display: inline-block;
        padding: 10px;

        @media(max-width: 900px) {
            width: 33.3333%;
        }

        @media(max-width: 670px) {
            width: 50%;
            padding: 5px;
        }

        .details {
            position: relative;

            &:hover {
                img {
                    @include animationGrow;
                    @include animationGrowHover;
                }
            }
        }

        .title {
            padding: 10px 20px;
            background-color: rgba(41, 37, 97, 0.88);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom-right-radius: 13px;
            border-bottom-left-radius: 13px;
            padding-right: 40px; 

            h6 {
                color: var(--white);
                font-weight: normal;
                font-size: 16px;
                line-height: 151%;
                @media(max-width: 500px) {
                    font-size: 14px;
                }
            }
        }
        &:hover {
            .title {
                &:after {
                    content: "\f138";
                    position: absolute;
                    right: 15px;
                    bottom: 27px;
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                    color: var(--white);
                    font-family: fontawesome;
                }
            }
        }
        .center-align{
            position: absolute;
            z-index: 9;
            top: 50%;
            right: 0;
            left: 0;
            margin: 0 auto;
            h6{
                text-align: center;
            }
        }

        img {
            width: 100%;
            border-radius: 13px;
        }
    }

}

// innovation-wheel
.innovation-wheel {

    .wheel {
        position: relative;

        img {
            position: absolute;
            width: 99%;
            top: -179px;
            right: 0;

            @media(max-width:575px) {
                top: 0;
                position: relative;
            }

            @media screen and (min-device-width: 2500px) and (max-device-width: 3000px) {
                width: 36%;
            }

            @media screen and (min-device-width: 2000px) and (max-device-width: 2500px) {
                width: 47%;
            }

            @media screen and (min-device-width: 1800px) and (max-device-width: 2000px) {
                width: 59%;
            }

            @media screen and (min-device-width: 1600px) and (max-device-width: 1800px) {
                width: 75%;
            }

            @media screen and (min-device-width: 1400px) and (max-device-width: 1600px) {
                width: 86%;
            }
        }
    }
}

// value-proposition
.value-proposition {
    position: relative;

    .shape-position {
        @media(max-width:900px) {
            display: none;
        }
    }
}

// .gsi-shared-value
.gsi-shared-value {
    position: relative;

    &.align-top {
        margin-top: -48px;
    }

    .card {
        display: block;
        float: left;
        width: 100%;
        z-index: 99;
        position: relative;

        .image {
            @include borderRadiusLeft;
            width: 30%;
            float: left;
        }

        &:hover {
            img {
                @include animationGrow;
                @include animationGrowHover;
            }
        }

        .details {
            width: 70%;
            float: left;
            padding: 16px;
        }

    }

    .baker {
        img {
            height: 179px;

            @media(max-width:575px) {
                height: 77px;
                float: right;
            }
        }
    }

    .quote-bottom {
        height: 83px;
        position: absolute;
        bottom: 140px;
        z-index: 1;
    }
}