@import "../../Style/mixin.scss";

.pb-custom {
  padding-bottom: 118px;
}

.your-innovation {
  h1 {
    @include ArbatBold;
  }
}
.value-proposition {
  img {
    width: 60%;

    @media (max-width: 500px) {
      width: 41%;
    }
  }
}

// development-product
.development-product {
  img {
    width: 100%;
    margin: 0 auto;
    display: block;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

// innovation-wheel
.innovation-wheel {
  @media screen and (min-device-width: 100px) and (max-device-width: 600px) {
    position: relative;
  }

  .wheel {
    position: relative;

    .innovation-wheel-circle {
      display: none;
    }

    img {
      position: absolute;
      width: 99%;
      top: -163px;
      right: 0;

      @media screen and (min-device-width: 1400px) and (max-device-width: 1600px) {
        width: 86%;
        top: -119px;
      }

      @media (max-width: 950px) {
        position: relative;
        width: 100%;
        top: 0;

        &.innovation-wheel-jpg {
          display: none;
        }

        &.innovation-wheel-circle {
          display: block;
        }
      }
    }
  }
}

// value-proposition
.value-proposition {
  position: relative;

  .shape-position {
    @media (max-width: 900px) {
      display: none;
    }
  }
}

// .gsi-shared-value
.gsi-shared-value {
  position: relative;

  &.align-top {
    margin-top: -48px;
  }

  .card {
    display: block;
    float: left;
    width: 100%;
    z-index: 99;
    position: relative;

    .image {
      @include borderRadiusLeft;
      width: 33%;
      float: left;
    }

    &:hover {
      img {
        @include animationGrow;
        @include animationGrowHover;
      }
    }

    .details {
      width: 67%;
      float: left;
      padding: 13px;
      p {
        line-height: 124%;
      }
      h5 {
        @media (max-width: 500px) {
          font-size: 16px;
        }
      }
    }
  }

  .baker {
    img {
      height: 179px;

      @media (max-width: 575px) {
        height: 77px;
        float: right;
      }
    }
  }

  .quote-bottom {
    height: 83px;
    position: absolute;
    bottom: 93px;
    z-index: 1;

    @media (max-width: 600px) {
      height: 60px;
      bottom: 40px;
    }
  }
}

.pillars-section {
  width: 100%;
  @media (min-width: 948px) {
    margin-top: 50px;
  }
  @media (min-width: 1028px) {
    margin-top: 100px;
  }
  @media (min-width: 1200px) {
    margin-top: 150px;
  }
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: center;
  .popup-slider {
    width: 100%;
  }
}

.close-button {
  position: absolute;
  padding: 0;
  color: #000000;
  font-size: 28px !important;
  top: -15px;
  right: 0;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: #333;
  padding: 0;
}

.prev-button {
  left: 5px;
}

.next-button {
  right: 5px;
}
