	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/11/2020 16:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./flaticon.eot");
  src: url("./flaticon.eot?#iefix") format("embedded-opentype"),
       url("./flaticon.woff2") format("woff2"),
       url("./flaticon.woff") format("woff"),
       url("./flaticon.ttf") format("truetype"),
       url("./flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-home-page:before { content: "\f100"; }
.flaticon-progress-arrows:before { content: "\f101"; }
.flaticon-speedometer:before { content: "\f102"; }
.flaticon-curve-down-left-arrow:before { content: "\f103"; }
.flaticon-curved-arrow-pointing-up:before { content: "\f104"; }
.flaticon-caret-down:before { content: "\f105"; }
.flaticon-plus-black-symbol:before { content: "\f106"; }
.flaticon-listing-option:before { content: "\f107"; }
.flaticon-csv-file-format-extension:before { content: "\f108"; }
.flaticon-delete:before { content: "\f109"; }
.flaticon-arrowheads-of-thin-outline-to-the-left:before { content: "\f10a"; }
.flaticon-next-page-hand-drawn-symbol:before { content: "\f10b"; }
.flaticon-image-interface-symbol-with-a-landscape:before { content: "\f10c"; }
.flaticon-youtube-logotype:before { content: "\f10d"; }
.flaticon-down-arrow:before { content: "\f10e"; }
.flaticon-double-right-arrows-angles:before { content: "\f10f"; }
.flaticon-fast-forward-double-right-arrows:before { content: "\f110"; }
.flaticon-memory-chip:before { content: "\f111"; }
.flaticon-drop-down-arrow:before { content: "\f112"; }
.flaticon-locked-padlock:before { content: "\f113"; }
.flaticon-rotated-right-arrow-with-broken-line:before { content: "\f114"; }
.flaticon-curved-arrow-with-broken-line:before { content: "\f115"; }
.flaticon-right-drawn-arrow:before { content: "\f116"; }
.flaticon-turn-right-arrow-with-broken-line:before { content: "\f117"; }
.flaticon-pie-chart:before { content: "\f118"; }
.flaticon-arrow-pointing-to-right:before { content: "\f119"; }
.flaticon-master-drive:before { content: "\f11a"; }
.flaticon-wedding-planning:before { content: "\f11b"; }
.flaticon-refund:before { content: "\f11c"; }
.flaticon-email:before { content: "\f11d"; }
.flaticon-domain-registration:before { content: "\f11e"; }
.flaticon-padlock:before { content: "\f11f"; }
.flaticon-avatar:before { content: "\f120"; }
.flaticon-back:before { content: "\f121"; }
.flaticon-export:before { content: "\f122"; }
.flaticon-price-tag:before { content: "\f123"; }
.flaticon-network:before { content: "\f124"; }
.flaticon-placeholder:before { content: "\f125"; }
.flaticon-edit:before { content: "\f126"; }
.flaticon-home:before { content: "\f127"; }
.flaticon-home-1:before { content: "\f128"; }
.flaticon-route:before { content: "\f129"; }
.flaticon-users:before { content: "\f12a"; }
.flaticon-user:before { content: "\f12b"; }
.flaticon-locked:before { content: "\f12c"; }
.flaticon-unlocked:before { content: "\f12d"; }
.flaticon-locked-1:before { content: "\f12e"; }
.flaticon-plus-1:before { content: "\f12f"; }
.flaticon-layers:before { content: "\f130"; }
.flaticon-paint-brush:before { content: "\f131"; }
.flaticon-id-card:before { content: "\f132"; }
.flaticon-home-2:before { content: "\f133"; }
.flaticon-dashboard:before { content: "\f134"; }
.flaticon-invoice:before { content: "\f135"; }
.flaticon-tick:before { content: "\f136"; }
.flaticon-dashboard-1:before { content: "\f137"; }
.flaticon-pdf:before { content: "\f138"; }
.flaticon-lock:before { content: "\f139"; }
.flaticon-pin:before { content: "\f13a"; }
.flaticon-more:before { content: "\f13b"; }
.flaticon-checklist:before { content: "\f13c"; }
.flaticon-shopping-list:before { content: "\f13d"; }
.flaticon-email-1:before { content: "\f13e"; }
.flaticon-left-arrow:before { content: "\f13f"; }
.flaticon-speedometer-1:before { content: "\f140"; }
.flaticon-notification:before { content: "\f141"; }
.flaticon-filter:before { content: "\f142"; }
.flaticon-house:before { content: "\f143"; }
.flaticon-tick-1:before { content: "\f144"; }
.flaticon-download:before { content: "\f145"; }
.flaticon-youtube:before { content: "\f146"; }
.flaticon-instagram:before { content: "\f147"; }
.flaticon-twitter:before { content: "\f148"; }
.flaticon-image:before { content: "\f149"; }
.flaticon-user-2:before { content: "\f14a"; }
.flaticon-down-arrow-1:before { content: "\f14b"; }
.flaticon-menu:before { content: "\f14c"; }
.flaticon-play:before { content: "\f14d"; }
.flaticon-paint-palette:before { content: "\f14e"; }
.flaticon-pencil-case:before { content: "\f14f"; }
.flaticon-loupe:before { content: "\f150"; }
.flaticon-connection:before { content: "\f151"; }
.flaticon-left-arrow-1:before { content: "\f152"; }
.flaticon-dashboard-2:before { content: "\f153"; }
.flaticon-left-arrow-2:before { content: "\f154"; }
.flaticon-pc:before { content: "\f155"; }
.flaticon-play-button:before { content: "\f156"; }
.flaticon-shield:before { content: "\f157"; }
.flaticon-checklist-1:before { content: "\f158"; }
.flaticon-backend:before { content: "\f159"; }
.flaticon-creative-idea:before { content: "\f15a"; }
.flaticon-maintenance:before { content: "\f15b"; }
.flaticon-checklist-2:before { content: "\f15c"; }
.flaticon-invoice-1:before { content: "\f15d"; }
.flaticon-master:before { content: "\f15e"; }
.flaticon-invoice-2:before { content: "\f15f"; }
.flaticon-company:before { content: "\f160"; }
.flaticon-id:before { content: "\f161"; }
.flaticon-writing:before { content: "\f162"; }
.flaticon-email-2:before { content: "\f163"; }
.flaticon-web:before { content: "\f164"; }
.flaticon-home-3:before { content: "\f165"; }
.flaticon-modules:before { content: "\f166"; }
.flaticon-speedometer-2:before { content: "\f167"; }
.flaticon-cms:before { content: "\f168"; }
.flaticon-twitter-1:before { content: "\f169"; }
.flaticon-facebook-1:before { content: "\f16a"; }
.flaticon-checklist-3:before { content: "\f16b"; }
.flaticon-image-1:before { content: "\f16c"; }
.flaticon-invoice-3:before { content: "\f16d"; }
.flaticon-grid:before { content: "\f16e"; }
.flaticon-list:before { content: "\f16f"; }
.flaticon-customers:before { content: "\f170"; }
.flaticon-modules-1:before { content: "\f171"; }
.flaticon-edit-1:before { content: "\f172"; }
.flaticon-filter-1:before { content: "\f173"; }
.flaticon-video-camera:before { content: "\f174"; }
.flaticon-shield-1:before { content: "\f175"; }
.flaticon-video:before { content: "\f176"; }
.flaticon-data:before { content: "\f177"; }
.flaticon-delete-1:before { content: "\f178"; }
.flaticon-incomes:before { content: "\f179"; }
.flaticon-payslip:before { content: "\f17a"; }
.flaticon-security:before { content: "\f17b"; }
.flaticon-facebook-2:before { content: "\f17c"; }
.flaticon-twitter-2:before { content: "\f17d"; }
.flaticon-youtube-1:before { content: "\f17e"; }
.flaticon-instagram-1:before { content: "\f17f"; }
.flaticon-tag:before { content: "\f180"; }
.flaticon-tag-1:before { content: "\f181"; }
.flaticon-company-1:before { content: "\f182"; }
.flaticon-filter-2:before { content: "\f183"; }
.flaticon-admin:before { content: "\f184"; }
.flaticon-delete-2:before { content: "\f185"; }
.flaticon-dashboard-3:before { content: "\f186"; }
.flaticon-dashboard-4:before { content: "\f187"; }
.flaticon-filter-3:before { content: "\f188"; }
.flaticon-wallet:before { content: "\f189"; }
.flaticon-analysis:before { content: "\f18a"; }
.flaticon-inventory:before { content: "\f18b"; }
.flaticon-seller:before { content: "\f18c"; }
.flaticon-supplier:before { content: "\f18d"; }
.flaticon-chat:before { content: "\f18e"; }
.flaticon-hard-disk:before { content: "\f18f"; }
.flaticon-operating-system:before { content: "\f190"; }
.flaticon-browser:before { content: "\f191"; }
.flaticon-company-2:before { content: "\f192"; }
.flaticon-facebook-3:before { content: "\f193"; }
.flaticon-twitter-3:before { content: "\f194"; }
.flaticon-dashboard-5:before { content: "\f195"; }
.flaticon-company-3:before { content: "\f196"; }
.flaticon-office-building:before { content: "\f197"; }
.flaticon-big-data:before { content: "\f198"; }
.flaticon-income-1:before { content: "\f199"; }
.flaticon-data-processing:before { content: "\f19a"; }
.flaticon-transfer:before { content: "\f19b"; }
.flaticon-customer:before { content: "\f19c"; }
.flaticon-expenses:before { content: "\f19d"; }
.flaticon-clicker:before { content: "\f19e"; }
.flaticon-multimedia:before { content: "\f19f"; }
.flaticon-filter-4:before { content: "\f1a0"; }
.flaticon-income-2:before { content: "\f1a1"; }
.flaticon-accounting:before { content: "\f1a2"; }
.flaticon-image-gallery:before { content: "\f1a3"; }
.flaticon-filter-5:before { content: "\f1a4"; }
.flaticon-budget:before { content: "\f1a5"; }
.flaticon-settings:before { content: "\f1a6"; }
.flaticon-back-drawn-arrow:before { content: "\f1a7"; }
.flaticon-phone-call:before { content: "\f1a8"; }
.flaticon-download-1:before { content: "\f1a9"; }
.flaticon-edit-2:before { content: "\f1aa"; }
.flaticon-garbage:before { content: "\f1ab"; }
.flaticon-paper-plane:before { content: "\f1ac"; }
.flaticon-monitor:before { content: "\f1ad"; }
.flaticon-folder:before { content: "\f1ae"; }
.flaticon-vector:before { content: "\f1af"; }
.flaticon-piggy-bank:before { content: "\f1b0"; }
.flaticon-tag-2:before { content: "\f1b1"; }
.flaticon-logout:before { content: "\f1b2"; }
.flaticon-copy:before { content: "\f1b3"; }
.flaticon-upload:before { content: "\f1b4"; }
.flaticon-printer:before { content: "\f1b5"; }
.flaticon-shopping-bag:before { content: "\f1b6"; }
.flaticon-shopping-cart:before { content: "\f1b7"; }
.flaticon-chat-1:before { content: "\f1b8"; }
.flaticon-next:before { content: "\f1b9"; }
.flaticon-placeholder-1:before { content: "\f1ba"; }
.flaticon-heart:before { content: "\f1bb"; }
.flaticon-house-1:before { content: "\f1bc"; }
.flaticon-table:before { content: "\f1bd"; }
.flaticon-grid-1:before { content: "\f1be"; }
.flaticon-visibility:before { content: "\f1bf"; }
.flaticon-eye:before { content: "\f1c0"; }
.flaticon-reload:before { content: "\f1c1"; }
.flaticon-refresh:before { content: "\f1c2"; }
.flaticon-refresh-1:before { content: "\f1c3"; }
.flaticon-download-to-storage-drive:before { content: "\f1c4"; }
.flaticon-download-2:before { content: "\f1c5"; }
.flaticon-download-3:before { content: "\f1c6"; }
.flaticon-download-4:before { content: "\f1c7"; }
.flaticon-add:before { content: "\f1c8"; }
.flaticon-add-file:before { content: "\f1c9"; }
.flaticon-add-file-1:before { content: "\f1ca"; }
.flaticon-add-1:before { content: "\f1cb"; }
.flaticon-file:before { content: "\f1cc"; }
.flaticon-bar:before { content: "\f1cd"; }
.flaticon-download-5:before { content: "\f1ce"; }
.flaticon-globe:before { content: "\f1cf"; }
.flaticon-worldwide:before { content: "\f1d0"; }
.flaticon-planet-earth:before { content: "\f1d1"; }
.flaticon-earth:before { content: "\f1d2"; }
.flaticon-location:before { content: "\f1d3"; }
.flaticon-left-arrow-3:before { content: "\f1d4"; }
.flaticon-left-arrow-5:before { content: "\f1d5"; }
.flaticon-left-arrow-6:before { content: "\f1d6"; }
.flaticon-left-arrow-7:before { content: "\f1d7"; }
.flaticon-click:before { content: "\f1d8"; }
.flaticon-left-arrow-9:before { content: "\f1d9"; }
.flaticon-left:before { content: "\f1da"; }
.flaticon-open-sign:before { content: "\f1db"; }
.flaticon-open-sign-1:before { content: "\f1dc"; }
.flaticon-guide:before { content: "\f1dd"; }
.flaticon-settings-1:before { content: "\f1de"; }
.flaticon-blockchain:before { content: "\f1df"; }
.flaticon-gear:before { content: "\f1e0"; }
.flaticon-book:before { content: "\f1e1"; }
.flaticon-web-browser:before { content: "\f1e2"; }
.flaticon-product:before { content: "\f1e3"; }
.flaticon-strategy:before { content: "\f1e4"; }
.flaticon-destination:before { content: "\f1e5"; }
.flaticon-route-1:before { content: "\f1e6"; }
.flaticon-strategy-1:before { content: "\f1e7"; }
.flaticon-strategy-2:before { content: "\f1e8"; }
.flaticon-globe-1:before { content: "\f1e9"; }
.flaticon-business-strategy:before { content: "\f1ea"; }
.flaticon-planet-earth-1:before { content: "\f1eb"; }
.flaticon-save:before { content: "\f1ec"; }
.flaticon-analytics-2:before { content: "\f1ed"; }
.flaticon-analytics-3:before { content: "\f1ee"; }
.flaticon-bar-chart:before { content: "\f1ef"; }
.flaticon-analytic:before { content: "\f1f0"; }
.flaticon-analytics:before { content: "\f1f1"; }
.flaticon-analytics-1:before { content: "\f1f2"; }
.flaticon-bar-chart-1:before { content: "\f1f3"; }