.awards-achievements {
    position: relative;

    h2 {
        position: absolute;
        top: 60px;
        right: 24%;
        z-index: 9;
    }

    img {
        max-height: 404px;
        width: 100%;
    }

    .awards {
        span {
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--secondary);
            font-size: 65px;
            font-weight: 700;
            color: transparent;
        }

        p {
            font-size: 25px;
            font-weight: 300;
        }
    }
    .slick-dots {
        right: 42%;
        bottom: 77px;
        width: auto;
    }
}