@import "../../../Style/mixin.scss";

.gsi-slider {
  position: relative;
  margin-bottom: -10px;

  .slider-content {
    display: block;
    .slider-caption{
      h1{
        font-size: 25px;
        letter-spacing: 4px;
        font-weight: normal;
        @media(max-width: 575px){
          font-size: 18px;
          line-height: 162%;
        }
      }
      p{
        font-size: 60px;
        line-height: 140%;
        @media(max-width: 900px){
          font-size: 41px;
        }
        @media(max-width: 600px){
          font-size: 31px;
        }
      }      
    }
  }
  .center-contents {
    height: 100vh;
    min-height: 500px;    
    position: relative;
    z-index: 1;
    @media(max-width:900px){
      height: auto;
      min-height: 450px;    
    }
  }

  .slider-1 {
    background: url('../../../assets/images/main-slider/main-slider.webp');
    @include backgroundNoRepeat($position: top right);
  }
  .center-contents {
    &::before{
      @include beforeContent;
      background: var(--black);
      opacity: 0.5;
    }    
  }
  .slick-prev{
    left: 41px;
  }
  .slick-next{
    right: 41px;
  }
}