// Futura fonts
@font-face {
    font-family: "Luchida";
    src: url("../assets/font/lucida-fax/luchida-fax-regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Luchida";
    src: url("../assets/font/lucida-fax/luchida-fax-italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Luchida";
    src: url("../assets/font/lucida-fax/luchida-fax-demibold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Luchida";
    src: url("../assets/font/lucida-fax/luchida-fax-demibold-italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}