// cutting-edge-solution
.cutting-edge-solution {
    .card-box {
        width: 20%;
        display: inline-block;
        padding: 10px;

        @media (max-width: 900px) {
            width: 33.3333%;
        }

        @media (max-width: 540px) {
            width: 50%;
            padding: 5px;
        }

        .details {
            position: relative;

            &:hover {
                img {
                    @include animationGrow;
                    @include animationGrowHover;
                }
            }

            &.bg-grid {
                &::before {
                    @include beforeContent($opacity: 0.9);
                    @include redGradient;
                    z-index: 9;
                }
            }
        }

        .title {
            padding: 10px 20px;
            background-color: rgba(41, 37, 97, 0.88);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom-right-radius: 13px;
            border-bottom-left-radius: 13px;
            padding-right: 40px;

            @media (max-width: 623px) {
                padding: 10px 11px;
                padding-right: 30px;
            }

            h6 {
                color: var(--white);
                font-weight: normal;
                font-size: 16px;
                line-height: 151%;
                margin-bottom: 0;

                @media (max-width: 500px) {
                    font-size: 14px;
                }
            }
        }

        &:hover {
            .title {
                &:after {
                    @include fontAwesomeiconCont;
                }
            }

            .center-align {
                .fa {
                    display: block;
                    position: relative;
                }

                @media (max-width: 575px) {
                    margin-top: 10px;
                }
            }
        }

        .center-align {
            position: absolute;
            z-index: 9;
            top: 44%;
            right: 0;
            left: 0;
            margin: 0 auto;

            @media (max-width: 575px) {
                top: 36%;
            }

            h6 {
                font-weight: normal;
                font-size: 17px;
                line-height: 150%;
            }
        }

        .center-align {
            .fa {
                margin-top: 9px;
                display: none;
                font-size: 27px;
            }

            @media (max-width: 580px) {
                .fa {
                    display: block;
                }
            }
        }

        img {
            width: 100%;
            border-radius: 13px;
        }
    }
}