@import '../Style/mixin.scss';

.footer{
    padding: 40px 0;  
    h3{
        font-size: 20px;
    }
    img{
        height: 60px;
    }
    .social-media{
        ul{
            list-style: none;
            li{
                a{
                    display: block;
                    margin-right: 16px;
                }
            }
        }        
    }
    .contact-item{
        position: relative;
        padding-left: 33px;
        margin-bottom: 10px;
        .icon{
            position: absolute;
            top:0;
            left:0
        }
        i, span{
            color: var(--primary);
            font-size: 16px;
        }
        p{
            margin-top:2px;
            font-size: 15px;
        }
    }

}
.bottom-footer{
    background-color: var(--black);
    font-size: 15px;
    ul{
        list-style: none;
        li{
            display: inline-block;
            a{
                color: var(--white);
                padding: 2px 10px
            }
        }
    }
}
// back to top starts
.ant-back-top {
    right: 26px!important;
    bottom: 20px !important;
}
.back-to-top{
    height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  font-size: 15px;
}