@import '../Style/mixin.scss';

.main-hearder {
  display: block;
  padding: 16px 0;
  .ant-menu-item {
    margin: 10px 10px !important;
  }
  .top-header {
    .left-section {
      display: flex;
      .logo {
        span{
          margin-left: 10px; 
          font-size: 26px;
          color: var(--black);
          @include futuraMedium;
        }
        img {
          height: 71px;
        }
      }
    }
    .signin-signup {
      display: inline-block;
      button{
        span{
          @include futuraHeavy;
        }
      }
    }
  }
}
// center-header starts
.center-header {
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    li {
      display: inline-block;
      padding: 0px 8px;
      :hover {
        color: var(--primary);
      }
      a {
        @include futuraHeavy;
        display: block;
        text-align: left;
        font-size: 19px;
        color: var(--dark);
        text-transform: uppercase;
        padding: 3px 10px;
        letter-spacing: 1px;
      }
    }
  }
}
// center-header ends
