@import '../Style/mixin.scss';

.main-hearder {
  display: block;
  padding: 8px 0;
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  transform: translateZ(0);
  transition: all 0.5s;

  .ant-menu-item {
    margin: 10px 10px !important;
  }

  .top-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      background: var(--white);
      padding: 16px 26px 15px 56px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;

      @media(max-width:1160px) {
        padding: 16px 26px 15px 28px;
      }

      @media(max-width:600px) {
        padding: 16px 13px 15px 13px;
      }
      @media(max-width:350px) {
        padding: 12px 13px 15px 12px;
      }
      span {
        margin-left: 10px;
        font-size: 26px;
        color: var(--black);
        // @include luchida;
      }

      img {
        height: 40px;
        padding-right: 10px;

        @media(max-width:1200px) {
          height: 46px !important;
        }

        @media(max-width:600px) {
          height: 30px !important;
        }
        @media(max-width:500px) {
          padding-right: 0;
        }
      }
    }

    .functional-ingredient {
      background: var(--white);
      padding: 11px 56px 12px 26px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;

      @media(max-width:1160px) {
        padding: 16px 30px 14px 28px;
      }

      @media(max-width:1100px) {
        padding: 16px 80px 14px 28px;
      }
      @media(max-width:350px) {
        padding: 12px 65px 14px 23px;
      }

      @media(max-width:300px) {
        display: none
      }

      img {
        height: 40px;
        padding-left: 10px;

        @media(max-width:1200px) {
          height: 39px !important;
        }

        @media(max-width:600px) {
          height: 25px !important;
        }
        @media(max-width:500px) {
          padding-left: 0;
        }
      }
    }
  }

  &.scrolled {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;    
    background-color: var(--white);
    @include boxShadow($color: rgba(171, 171, 171, 0.50));

    .top-header {
      .logo {
        img {
          height: 40px;
        }
      }
    }

    .functional-ingredient {
      img {
        height: 40px;
      }
    }
  }
}

// center-header starts
.center-header {
  padding: 6px 20px;
  background: var(--primary);
  border-radius: 50px;
  margin-top: 8px;

  @media(max-width:1100px) {
    background: unset;
    border-radius: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media(max-width:1100px) {
      display: block;
    }

    li {
      // padding: 0px 8px;

      &:hover {
        color: var(--white);

        a {
          color: var(--white);
        }
      }

      a {
        display: block;
        text-align: left;
        font-size: 16px;
        color: var(--white);
        padding: 5px 13px;
        letter-spacing: 1px;

        @media(max-width:1100px) {
          font-size: 22px;
          padding: 6px 0 !important;
        }

        &.active {
          position: relative;

          &::before {
            @include beforeContentLeft($background: var(--secondary), $height: 4px, $top: unset, $bottom: -6px, $opacity: 1);

          }
        }
      }
    }
  }
}

// center-header ends

.navigations {
  @media(max-width: 1100px) {
    display: none;
    transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
  }

  &.opened {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    padding: 53px 30px 30px 30px;
    background: var(--primary);
    height: 100vh;
    min-width: 300px;
    z-index: 999;
    transition: max-height 2s ease-in-out;

    .center-header {
      ul {
        li {
          display: block;
          padding: 0;
          margin-bottom: 10px;

          a {
            color: var(--white);
            padding: 6px 10px;

            &:hover {
              color: var(--secondary)
            }
          }
        }
      }

    }

    .btn.btn-primary {
      width: 100%;
      background: var(--secondary);
    }
  }
}

#hamburger {
  display: none;

  @media(max-width: 1100px) {
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    z-index: 9999;
    background-image: url("../assets/images/open.svg");
    transition: all 0.3s;
    cursor: pointer;

    &.menuopened {
      background-image: url("../assets/images/close.svg");
    }
  }
  @media(max-width: 600px) {
    top: 21px;
  }
}